body {
    background: url('../images/cookie-monster.jpg');
}

#container {
    background: black;
    width: 474px;
    height: 650px;
    color: white;
    padding: 20px;
}

h1 {
    font-size: 80px;
}

h2 {
    background: #75c1f6;
    color: black;
    border-radius: 5px;
}

a {
    color: #75c1f6;
    text-decoration: none;
}
